<footer class="main-footer">
  <!-- To the right -->
  <div class="float-right d-none d-sm-inline">
    Anything you want
  </div>
  <!-- Default to the left -->
  <strong>Copyright &copy; <%= Time.new.year %> <%= link_to 'Project Name', admin_root_url %>.</strong> All rights reserved.
</footer>